@font-face {
    font-family: WhitneyBook;
    src: url(font/WhitneyBookItalic.ttf);
}

*{
	font-family: "WhitneyBook";
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body{
	/*background-color: orange;*/
	margin-right: 10%;
	margin-left: 10%;
	height: 100%;
}

html{
	height: 100%;
}

a{
	color: black;
}

/*@@@@@@@@@@@@@@@ MENU #1 @@@@@@@@@@@@@@*/

#menu{
	padding-bottom: 10px;
}

.row {
	margin-top: 23px;
	text-align: center;
}
#title {
	text-align: center;
	font-size: 50px;
}

/*@@@@@@@@@@@@@@@ MENU #2 @@@@@@@@@@@@@@*/

#caixatexto{
	text-align: center;
	width: 1050px;	
}

#okayBt{
	margin-left: 6px;
}

.radio{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
}

.panel-principal{
	border-color: #000000;
	border-width: medium;
}

.lateral{
	display:inline-block;
	text-align: center;
	font-size: 16px;
	margin-right: 18px;
	margin-left: 18px;
}

#row_menu{
	display: block;	
}

/*@@@@@@@@@@@@@@@ MENU #2 @@@@@@@@@@@@@@*/

.col-md-3{
	float: left;
}

.panel {
	margin-bottom: 10px;
}

#miniature_panel{
	height: 230px;
}

#miniature_panel:hover{
	background-color: #ddd;
}

#painel{
	margin-top: 25px;
}

#relatorio{
	width: 100%;
	height: 500px;
}

.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/*@@@@@@@@@@@@@@@ Novo Relatório - Titulo, Tags e Botão @@@@@@@@@@@@*/

#labelToCenter{
	margin-left: 28%;
}

#div_Input{
	display: inline-block;
	margin-top: 8px;
	width: 400px;
	margin-right: 20px;
	margin-left: 20px;
}

#tag_input{
	width: 400px;
	margin-right: 20px;
}

button{
	padding: 8px 20px;
	font-size: 14px;
	border: 2px solid #000000;
	font-family: "WhitneyBook";
	/*color: black;*/
	border-radius: 3px;
	background-color: #fff;
}

#create_button{
	border-color: #066A02;
	margin-right: 14px;
}

#create_button:hover{
	background-color:#8AE887;
	text-transform: uppercase;
}

#delete_button{
	color: black;
	border-color: red;	
}

#delete_button:hover{
	text-transform: uppercase;
	background-color:  #E88B8B;
}


#tituloRel{
	float: left;
}

#tituloNovo{
	float: left;
}

#tagsRel{
	float: left;
}

#tags{
	float: left;
}