{% load static %}
<html>
<head>
	<title></title>
</head>
<body>
	<img src="{% static 'img/img.jpg' %}">
	sdasdas
	<form action="." method="post">
		{% csrf_token %}
		{{form}}
		<button type="submit"> salvar</button>

{% for x in tabela %}
	x.nome 
	x.idade
{% endfor tabela %}
	</form>
</body>
</html>